/*
  if directives - @if , @else if , @else
  It check the conditions and produce the output.
  Equations can be used in the condition statements aswell
  Comparison operators (==, !==, >, <, >=, <=) can be used to check the conditions
*/
$type: p;
$num: 10px;
$noValue: null; // special datatype which says that there's no value assigned.

// Using if-directives

html{
  @if $type != p {
    content: 'it works';
  }
  @else if $noValue != null{
    content: 'its div';
  }
  @else {
    content: 'its nothing else';
  }

  // Using comparison operators for numeric type conditions
  $eq : $num+3;

  @if $eq == 12 { width: $num+1}
  @else if $eq != 13 { width: $num+2}
  @else if $eq > 13 { width: $num+3}
  @else if $eq < 13 { width: $num+4}
  @else if $eq >= 13 { width: $num+5}
  @else if $eq <= 13 { width: $num+6}
  @else { width: $num+7};
}
