/* Loops :
  There are 3 kind of loops in SASS which when used saves some time
  1. for-loop => @for
  2. each => @each
  3. while => @while
*/

$headers: h1, h2, h3, h4, h5, h6;
$fontValues: 48px, 40px, 32px, 24px, 16px, 8px;

$len: length($headers);


//@for $i from 1 through 6{
//  h#{$i}{
//    font-size: 55px;
//  }
//}

// for-loop

// @for $i from 1 through $len{
//   #{ nth($headers, $i)}{
//     font-size: nth($fontValues, $i);
//   }
// }

// each-loop

// @each $header,$font in zip($headers, $fontValues){
//   #{$header} {
//     font-size: #{$font};
//   }
// }

// while-loops
$index: 1;
@while $index<=6{
  #{nth($headers, $index)}{
    font-size: nth($fontValues, $index);
  }
  $index: $index + 1;
}
